
body {
    font-family:   Arial, Helvetica, sans-serif, sans-serif;
    width: 1200px;
    margin: 50px;
    padding-right:50;
}

h1{
    color:darkolivegreen;
    text-align: center;
    font-size: 75px;
}
#map{
    height: 700px;
    width:800px;
    margin-left: center;
    margin-right: center;
}
h3{
    font-weight: 100;
}

.Sdescription{
    width: 400px;
    padding-right: 20px;
    padding-left: 20px;
    color:white;
}
.Simages{
    width: 200px;
    height: 200px;
    padding-right: 20px;
   
}
.stories{
    border: 5px;
    border-color: black;
    padding-bottom: 50px;
    width: 550px;
    padding-right: 50px;
}
.Scard{
    background-color: darkolivegreen;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    width:550px;
    height:200px;
    border:solid;
    border-radius: 20px;
    justify-content: center;
   
}
.Scard:hover{
    background:#800020;
    border: 10px;
}

a{
    text-decoration: none;
    color: black;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
}

.mapPage{
    text-decoration: underline;
}
.StorySubmission{
    padding-left: 20px;
    padding-right: 50px;
    
}

.dText{
    padding-right: 50px;
    text-align: left;
}
.StoryL {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.title{
    text-align: center;
    font-size: 75px;
}
.mapC{
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.imagSP{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    
}
.formatSP{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    text-align: center;
}
@media only screen and (min-width: 400px) and (max-width: 1200px) {
    /* Styles for screens between 400px and 1200px */
    h1 {
        font-size: 75px;
       ;
    }
    body {
        font-family:   Arial, Helvetica, sans-serif, sans-serif;
        width: 1200px;
        margin: 50px;
        padding-right:50;
    }
    .mapC{
        width: 800px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #map{
        height: 700px;
        width:800px;
        margin-left: center;
        margin-right: center;
    }
}

@media only screen and (max-width: 400px) {
    /* Styles for screens smaller than 401px */
    h1 {
        font-size: 30px;
        text-align: start;
        
       ;
    }
    body {
        font-family:   Arial, Helvetica, sans-serif, sans-serif;
        width: 390px;
        margin: 50px;
        padding-right:50;
    }
    .mapC{
        width: 390px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #map{
        height: 700px;
        width:340px;
        margin-left: center;
        margin-right: center;
    }
    h2{
        font-size: 15px;
    }
    .stories{
        width:350px;
    }
    .Scard{
        width: 350px;
    }
    .Sdescription{
        font-size: 12px;
    }
    .imagSP{
        width: 350px;
    }
    .formatSP{
        width: 350px;
        text-align: start;
    }
}